.expense-item {
  background-color: var(--card-background-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  margin: 4px;
}

.expense-item div {
  min-width: fit-content;
}

.expense-item__description {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 36px;
  width:100%;
}

.expense-item__price {
  background-color: var(--accent-color);
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  color: var(--font-color);
  border-radius: 40px;
}

.expense-item__description h2 {
  color: var(--font-color);
}
