.new-expense__controls {
  /* outline: 2px solid black; */
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px;
  grid-template-rows: 70px 70px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.new-expense__control {
  /* outline: 4px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
}

.new-expense__control input {
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

input:focus {
  outline: 2px solid var(--accent-color); /* Remove the outline when the input is focused */
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 4px;
  margin-left: 6px;
}

.new-expense__actions {
  /* border: 2px solid black; */
  display: flex;
  justify-content: right;
  align-items: self-end;
}

.new-expense__actions button {
  /* height: 30px; */
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  background-color: var(--accent-color);
  color: var(--font-color);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 4px;
}

.new-expense__actions button:hover {
  background-color: #b82121; /* Change background color on hover */
}

.item:nth-child(1) {
  grid-column: 1; /* Place the first item in the first column */
  grid-row: 1; /* Place the first item in the first row */
}

.item:nth-child(2) {
  grid-column: 2; /* Place the second item in the second column */
  grid-row: 1; /* Place the second item in the first row */
}

.item:nth-child(3) {
  grid-column: 1 / span 3; /* Place the third item starting from the first column and spanning across three columns */
  grid-row: 2; /* Place the third item in the second row */
}

.item:nth-child(4) {
  grid-column: 2 / span 3; /* Place the third item starting from the first column and spanning across three columns */
  grid-row: 2; /* Place the third item in the second row */
}
