:root {
  --main-background-color: #000000;
  --accent-color:#ef233c;
  --card-background-color: #232425;
  --font-color:#ffffff;
  --faded-color:#545454;
  --faded-fill:#202020;
  --faded-font:#c5c5c5;
}